.ddsmoothmenu{
font: bold 16px Verdana;
background: #414141; /*background of menu bar (default state)*/
width: 100%;
width: 1080px;
height: 51px;
padding-left: 20px;
background: url(../images/menu.gif) repeat-x;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;

}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left; 
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{

	float: left;
	width:120px;
	height: 25px;
    display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	padding-top: 15px;

}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
	color:gray;
	background-image:url(../images/menu.gif);
	background-repeat:repeat-x;
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color:#DFDFDF;
	background-image:url(../images/menu_r.gif); 
}

.ddsmoothmenu ul li a:hover{
	color:#DFDFDF;
	background-image:url(../images/menu_r.gif);
	background-repeat:repeat-x;

}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: right;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	text-align: left;
font: normal 12px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 20px;
right: 23px;

}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 15px;
top: 0;
width: 0;
height: 0;
background: green;
opacity: 0.3;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.3;
}