
/* ==================== Form style sheet ==================== */

form { margin: 25px 0 0 0; width: 480px;}

fieldset { margin: 0 0 20px 0; border: 1px solid #095D92; padding: 12px 17px; background-color: #DFF3FF; }
legend { font-size: 1.1em; background-color: #095D92; color: #FFFFFF; font-weight: bold; padding: 4px 8px; width:120px;}

label { display: block; width: auto; margin: 0 0 10px 0; float: left; width: 100px; margin: 4px 0 0 0; clear: left; color: black; }


fieldset input, fieldset select, fieldset  textarea { border: 1px inset #909090; padding: 3px;}
fieldset input, fieldset select  { margin: 0 0 8px 0; }


input[type="button"], input[type="submit"], input[type="reset"]
{
	width:100px;
	margin-left:10px;
	background: #095D92;
	color: white;
	border: solid 1px #ddd;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover
{
	width:100px;
	margin-left:10px;
	background: #297DB2;
	border: solid 1px #ddd;
}	
	

textarea { width: 400px; height: 150px; margin: 0 0 12px 0; display: block; }




/* ==================== Form style sheet for IE ==================== */

fieldset { padding: 22px 17px 12px 17px; position: relative; margin: 25px 0 0px 0; }
legend { position: absolute; top: -12px; left: 10px; }
label.float { margin: 5px 0 0 0; }
label { margin: 0 0 5px 0; }

/* ==================== Form style sheet for IE end ==================== */