@charset "utf-8";
/* Pre-defined Swatch#2 */

/* Containers */
.st-content {
  background: #c8e7fb;
}

.menu-bg {
  background: #1f9aed;
}

.bm-container {
  background: #107fc9;
}

/* Effect Togglers and Search-box/Login-box Containers */
.side-menu-toggle{
  background: #0c6098;
  background-image: url(../img/menu-toggle.png);
  background-repeat: no-repeat;
  background-position: 15px 11px;
}

.side-menu-toggle:focus {
  background: #0a4974;
  background-image: url(../img/menu-toggle.png);
  background-repeat: no-repeat;
  background-position: 15px 11px;
}

.login-toggle{
  background: #0c6098;
  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  background-position: 10px 11px;
}

.login-toggle:focus{
  background: #0a4974;
  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  background-position: 10px 11px;
}

#login-container{
  background: #a8d9f9;
  background: rgba(168,217,249,1);
  border: 1px solid #5eb8f4;
  border-top: none;
  color: #0a4974;
}

#login-container form button{
  background: #0e6ba9;
  color:#FFF;
}

#login-container form button:hover{
  background: #128bdc;
}

.register-forgot a:hover {
  color: #414b56;
}

.search-toggle {
  background: rgb(16,127,201);
  background-image: url(../img/search.png);
  background-position: 9px 9px;
  background-repeat: no-repeat;
  border-left: 1px solid #64b9f2;
}

#search-container{
  background: #b5ddf9;
  background: rgba(181,221,249,1);
  border: 1px solid #95cff7;
  color: #414b56;
}

#search-container:focus {
  background: rgb(11,89,142);
  background: rgb(11,89,142,0.7);
  color: #c8e7fb;
}

/* Top-nav mega */
.top-nav-mega-1, .top-nav-mega-2, .top-nav-mega-3, .top-nav-mega-4, .top-nav-mega-5, .top-nav-mega-6, .top-nav-mega-full-width {
  background: rgb(7,56,88);
  background: rgba(7,56,88,0.9);
  color: #fff;
}

/* Top-nav mega product nav */
.product-frame {
  background: rgb(4,37,60);
  background: rgba(4,37,60,0.8);
  border: 5px solid #0a5485;
  color: #ddd;
}

.product-frame h1, .product-frame h1 a, .product-frame h2, .product-frame h2 a, .product-frame h3, .product-frame h3 a, .product-frame h4, .product-frame h4 a, .product-frame h5, .product-frame h5 a, .product-frame h6, .product-frame h6 a {
	color: #fff;
	font-weight: 500;
}

.top-nav-mega-full-width, .top-nav-mega-full-width .carousel-caption h4, .top-nav-mega-full-width .carousel-caption h4 a {
	color: #fff;
}

.product-frame:hover {
	background: rgb(#072a43);
	background: rgba(#072a43,0.6);
	border: 5px solid #072a43;
}

.top-nav-mega-full-width ul li a, .top-nav-mega-full-width ol li a {
	color: #fff;
}

.top-nav-mega-full-width h1, .top-nav-mega-full-width h2, .top-nav-mega-full-width h3, .top-nav-mega-full-width h4, .top-nav-mega-full-width h5, .top-nav-mega-full-width h6 {
	color: #fff;
}

/* Items with images */
.item-with-images, .item-with-images-black {
	background: rgb(224,224,224);
	background: rgba(224,224,224,0.8);
	color: #333;
	padding:0px;
	margin-bottom: 10px;
	position:relative
}

.item-with-images-black {
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.8);
}

/* News Nav */
.mega-news-item {
	background: rgb(22,69,101);
	background: rgba(22,69,101,0.5);
	color: #fff;
	margin-bottom: 10px;
	padding:10px;
	font-size: 12px;
}

.mega-news-item div {
	padding-top:0px;
}

.mega-news-item img {
	display: inline-block;
  background: rgb(40,40,40);
  background: rgba(40,40,40,0.2);
	padding: 5px;
}

.mega-news-item h3, .mega-news-item h3 a {
	font-size:16px;
	line-height:20px;
	font-weight: 200;
	margin: 0px;
	color: #1b1b1b;
}

.mega-news-item h3 a:hover {
	text-decoration: underline;
}

/* Top-nav News Nav title */
.mega-news-item h3 a {
  color: #e1e4e8;
}

/* Top-nav 1st level */
.top-nav > ul > li > a {
  background: #0c6098;
  background: rgba(12,96,152);
  color: #fff;
}

.top-nav > ul > li:hover > a {
  background: #094873;
  background: rgba(9,72,115,1);
  color: #fff;
}

.fw-hovered {
  background: #094873; /* fallback for older browsers */
  background: rgba(9,72,115,1);
  color: #fff;
}

/* Top-nav 2nd level */
.top-nav > ul > li > ul > li > a {
  background: #094873;
  background: rgba(9,72,115,0.8);
  border-top: 1px solid #0c5789;
  border-bottom: 1px solid #6f8599;
  color: #fff;
}

.top-nav > ul > li > ul > li > a:hover {
  background: #06314d;
  background: rgba(6,49,77,0.9);
  border-bottom: 1px solid #0a507e;
  border-top: 1px solid #0c5e94;
  color: #fff;
}

/* Top-nav 3rd level */
.top-nav > ul > li > ul > li > ul > li > a {
  background: #0e73b6;
  background: rgba(14,115,182,0.8);
  border-top: 1px solid #0c5e94;
  border-bottom: 1px solid #4299d9;
  color: #fff;
  text-shadow: none;
}

.top-nav > ul > li > ul > li > ul > li a:hover {
  background: #1697ed;
  background: rgba(22,151,237,0.8);
  border-top: 1px solid #0c5e94;
  border-bottom: 1px solid #4299d9;
  color: #fff;
}

/* Top-nav 4th level */
.top-nav > ul > li > ul > li > ul > li > ul > li > a {
  background: #d1ebfc;
  background: rgba(209,235,252,0.9);
  border-top: 1px solid #a7d9fa;
  border-bottom: 1px solid #e9f5fe;
  color: #052c45;
}

.top-nav > ul > li > ul > li > ul > li > ul > li a:hover {
  background: #74c1f5;
  background: rgba(116,193,245,0.9);
  border-top: 1px solid #1292e7;
  border-bottom: 1px solid #64b9f2;
  color: #fff;
}

/* Top-nav input styles */
.top-nav input[type="text"], .top-nav textarea {
  background: #deeffc;
  color: #fff;
}

#login-container form input[type="text"], #login-container form input[type="password"], .top-nav input[type="text"], .top-nav textarea { 
  color: #0a4974;
}

.top-nav input[type="text"]:focus {
  border:none;
  outline:none;
  border: 1px solid #000000;
}

.top-nav input:active{
  border: 1px solid #000000;
}

.top-nav textarea:focus {
  border: 1px solid #000000;
}

/* Social media button styles */
.facebook, .twitter, .google-plus, .pinterest, .instagram, .linkedin, .yahoo, .youtube, .vimeo {
  background: rgb(27,153,237);
  background-repeat: no-repeat;
  background-position: 8px 0px;
  border-left: 1px solid #64b9f2;
}

.facebook, .facebook:hover {
  background-image: url(../img/facebook.png);
}

.twitter, .twitter:hover {
  background-image: url(../img/twitter.png);
}

.google-plus, .google-plus:hover {
  background-image: url(../img/googleplus.png);
}

.pinterest, .pinterest:hover {
  background-image: url(../img/pinterest.png);
}

.linkedin, .linkedin:hover {
  background-image: url(../img/linkedin.png);
}

.yahoo, .yahoo:hover {
  background-image: url(../img/yahoo.png);
}

.youtube, .youtube:hover {
  background-image: url(../img/youtube.png);
}

.vimeo, .vimeo:hover {
  background-image: url(../img/vimeo.png);
}

/* <HR> horizontal line */
.top-nav-mega-content-seperator {
  border-top: 1px solid #000204;
  border-bottom: 1px solid #657e9a;
}